<main class="index">
    <section>
        <div class="contenido">
            <div class="bg__section"></div>
            <div class="contenido-caja">
                <h2 style="z-index: 3;" class="gs_reveal">Login<br> Test
                </h2>
                <h5 class="gs_reveal">by Primal</h5>
                <div class="button-index">
                        <a href="/login">
                            <button type="button" class="font__Josefin">Comenzar</button>
                        </a>
                </div>
            </div>
        </div>
    </section>
</main>