{{#if user}}
<footer class="colorBlackP" id="contact">
    <div class="py-5">
        <img src="/img/LogoToAnimateWhite.png" alt="primal logo" class="logoPrimal">
    </div>
    <div class="footer__contacts">
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-reddit"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
    <nav id="nav__footer" class="container border-bottom py-3 mb-3">
        <a href="https://alittlechristianboy.herokuapp.com/" target="__blank">Visitar portafolio personal</a>
    </nav>
    <div>
        <div class="container">
            <div class="row py-4">
                <p class="text-center text-muted mt-0 section__skills">© 2022 Primal, Inc</p>
            </div>
        </div>
    </div>
</footer>
{{/if}}