<div class="login_body">
    <div class="login_container">
        <div class="blueBg">
            <div class="box signin">
                <h2>Ya tienes una cuenta?</h2>
                <button class="signinBtn">Iniciar sesión</button>
            </div>
            <div class="box signup">
                <h2>No tienes una cuenta?</h2>
                <button class="signupBtn">Regístrate</button>
            </div>
        </div>
        <div class="formBx">
            <div class="form signinForm">
                <form action="/signin" method="POST">
                    <h3>Iniciar sesión</h3>
                    <input type="text" name="username" placeholder="Nombre de usuario">
                    <input type="password" name="password" id="" placeholder="Contraseña">
                    <button class="btn btn-success btn-block" name="" id="">Iniciar sesión</button>
                    {{!<a href="" class="forgot">Forgot Password?</a>}}
                </form>
            </div>
            <div class="form signupForm">
                <form action="/signup" method="POST">
                    <h3>Registrarse</h3>
                    <input type="text" name="username" placeholder="Nombre de usuario" autofocus>
                    <input type="text" name="fullname" placeholder="Nombre completo">
                    <input type="text" name="email" placeholder="Correo elctrónico">
                    <input type="password" name="password" id="" placeholder="Contraseña">
                    {{!<--<input type="password" name="" id="" placeholder="Confirm Password">-->}}
                    <button class="btn btn-success btn-block" name="" id="">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const signinBtn = document.querySelector('.signinBtn');
    const signupBtn = document.querySelector('.signupBtn');
    const formBx = document.querySelector('.formBx');
    const login_body = document.querySelector('.login_body');

    signupBtn.onclick = function () {
        formBx.classList.add('active')
        login_body.classList.add('active')
    }
    signinBtn.onclick = function () {
        formBx.classList.remove('active')
        login_body.classList.remove('active')
    }
</script>